*__pycache__*
cpg.zip
vul-LMGGNN_kaggle.zip
zip_repo_for_kaggle.py
joern_analysis
.vscode/settings.json
zip_bin_with_json.py
run_notebook.ipynb
input
data/model/*
data/raw/*
data/academic/*
data/acm/*
data/dblp/*
data/freebase/*
workspace/*
*.tar.gz
tmp/*
*.npy
*.npz
*.zip
*.log
*MACOSX/*
*.pyc
*.pkl
*.pth
*.parquet
utils/data/torch_geometrics_process/cfexplainer/storage/cache/*
utils/data/torch_geometrics_process/cfexplainer/storage/external/joern-cli*/*
utils/data/torch_geometrics_process/cfexplainer/storage/external/workspace/*
utils/data/torch_geometrics_process/cfexplainer/storage/processed/*
baseline/GTC/code/__MACOSX/*
baseline/GTC/data/*
*.csv
*.pt
*.bin*
joern/workspace/*
data/.DS_Store
