captum==0.2.0
cpgclientlib==0.11.321
dgl==2.4.0+cu118
dive_into_graphs==1.1.0
graphviz==0.20.3
matplotlib==3.10.0
networkx==3.2.1
numpy==1.23.0
pandas==2.2.3
rdkit==2024.9.1
rdkit_pypi==2022.9.5
Requests==2.32.3
scikit_learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
torch==2.1.1+cu118
torch_geometric==2.6.1
torch_scatter==2.1.2+pt21cu118
torch_sparse==0.6.18+pt21cu118
tqdm==4.67.1
transformers==4.47.1
unidiff==0.7.5
